* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Amiri', serif;
    
    text-align: center;
   
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: auto;
    background:  url("bg3.png"), linear-gradient(to top, #04eb04, #f8b703);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        background-attachment: fixed;
        background-blend-mode: color-burn;
        overflow-y: scroll;
        overflow-x: hidden;
        
}

.sura {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* border: 1px solid red; */
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    flex-wrap: wrap;
}

.image img {
    width: 80%;
    max-width: 350px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

audio {
    width: 100%;
    max-width: 100%;
    background: linear-gradient(315deg, #027706 0%, #59f803 74%);
    border-radius: 12px;
    padding: 19px;
    border: none;
    margin-bottom: 20px;
    position:static;
}

audio::-webkit-media-controls-panel {
   
    background: linear-gradient(315deg, #027706 0%, #59f803 74%);
    border-radius: 12px;
     height: 18px;
     width: 100%;
     position: static;
     max-width: 100%;
     height: auto;
}

#audio-player {/**/
    
    background: linear-gradient(315deg, #027706 0%, #59f803 74%);
    border-radius: 15px;
    width: 100%;
    max-width: 100%;
}
audio,
    #audio-player{
        width:100%;
    }
    .options{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        width: 100%;
        gap: 3px;
        flex-wrap: wrap;
    }

.back {
    /* border: 1px solid #f70202; */
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 10px;
}

.back .btn {
    width: 100%;
    max-width: 300px;
    margin: auto;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bolder;
    background-color: #02f733;
    background: linear-gradient(315deg, #027706 0%, #59f803 74%);
    border: none;
    z-index: 1;
    padding: 25px;
    border-radius: 8px;
    transition: 0.35s ease-in-out;
    text-align: center;
    position: relative;
}

.back .btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #16f13e 0%, #75cc79 74%);
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.35s ease-in-out;
}

.back .btn:hover {
    color: #fff;
}

.back .btn:hover:after {
    height: 100%;
}

.back .btn:active {
    transform: translateY(2px);
}
select{

    padding:15px;
    border-radius: 10px;
    background: linear-gradient(315deg, #25eb2c , #59f803 );
    align-self: center;
    color: black;
    font-size: 17.2px;
    font-weight: bolder;
    
}
@media screen and (max-width: 1024px) {
    .image img {
        width: 80%;
    }

    audio,
    #audio-player,
    .back .btn {
        width: 100%;
    }
    audio{
        width: 100%;
        max-width: 100%;
          
    }
    #audio-player{
        width: 100%;
        max-width: 100%;
          
    }
    
    

    body {
        padding: 10px;
        background:  url("bg3.png"), linear-gradient(to top, #04eb04, #f8b703);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: fixed;
        background-blend-mode: color-burn;
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    .sura {
        padding: 25px;
        width: 80%;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        
    }
    .sura::-webkit-scrollbar {
        display: none;
    }
    .back {
        padding: 5px;
    }
    .options{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
       
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 768px) {
    .image img {
        width: 50%;
    }
    .options{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
        width: 100%;
        gap: 18px;
        flex-wrap: wrap;
    }
    audio,
    #audio-player,
    .back .btn {
        width: 100%;
    }

    body {
        padding: 10px;
        background:  url("bg3.png"), linear-gradient(to top, #04eb04, #f8b703);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        background-blend-mode: color-burn;
        width: 100%;
        height: auto;
       
    }

    .sura {
        padding: 5px;
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .back {
        padding: 5px;
    }
}

@media screen and (max-width: 480px) {
    .image img {
        width: 70%;
    }

    .back .btn {
        padding: 20px;
    }
}
